# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production

# Build output
/dist
/build

# Cache
/.cache
/.parcel-cache
.next/
.nuxt/
.vite/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
